<!DOCTYPE html>

<head>

<title>
<?php if(defined("TITLE")) { print TITLE; } else { print "Jamboni"; } ?>
</title>

<meta charset="utf-8">
<meta name= "description" content= "jamboni">
<meta name= "description" content= "jamboni fragrances">
<meta name= "description" content= "african scents">
<meta name= "description" content= "africa">
<meta name= "description" content= "scents">
<meta name= "description" content= "fragrances">
<link rel="stylesheet" href="css/1.css">
<link rel="shortcut icon" href="images/flowers_small.ico">
</head>

<body>

<nav id="globalheader" role="globalheader" >
	<a href= "/jamboni/">Home</a> 
	<a href="her.php">For Her</a>
	<a href="him.php">For Him</a>
	<a href="shop.php">Shop</a>
	<input type="text" name="search" placeholder="search" >
</nav>
<!--end of globalheader -->

<nav id="wrapper" role="hold_main_content">
<nav id="top" role="banner_assist" >home of the best fragrances. </nav>
<h1>Jamboni fragrances </h1>

<article id ="main" role="content">
<!-- start ofchangable content -->

